---
import CreativeCodingLayout from '@/layouts/themes/CreativeCoding/CreativeCoding.astro';
import { Icon } from 'astro-icon/components';
import style from './index.module.scss';

const meta = {
  title: 'Report 002 - WebGL School Reports',
}
---

<CreativeCodingLayout {meta}>
  <div id="webgl"></div>
  <div class={style.remote}>
    <div class:list={[style.remote__content, 'js-three-control']}>
      <div class={style.remote__item}>
        <input type="checkbox" class={style.toggleButton} data-control-type="switch" checked>
        <span class={style.remote__text}>Turn On/Off <Icon name="switch" /></span>
      </div>
    </div>
  </div>
</CreativeCodingLayout>

<script>
  import '@/js/webgl-school-2024/002/script';
</script>
